html {
    font-family: sans-serif;
}

canvas {
    border-radius: 8px;
}

.color-picker {
    min-width: 64px;
}

.color-container {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: auto;
}

.color-picker label {
    margin: auto;
    text-align: center;
    width: 100%;
}

input[type="color"] {
    border: 0;
    padding: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%);
}

#page-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 32px;
}

.slider-label {
    display: inline-block;
    opacity: 80%;
    font-size: 14px;
    width: 42px;
    text-align: center;
}

.attr-container {
    min-width: 256px;
}

.w-label {
    display: inline-block;
    width: 50px;
}

.w-label-lg {
    display: inline-block;
    width: 108px;
}

.w-label-xl {
    display: inline-block;
    width: 150px;
}

.fs-7 {
    font-size: 0.875rem;
}

.fs-8 {
    font-size: 0.75rem;
}
